CONFIG_TARGET_ramips=y
CONFIG_TARGET_ramips_mt7621=y
CONFIG_TARGET_ramips_mt7621_DEVICE_notion_r281=y
CONFIG_BUILD_PATENTED=y
CONFIG_BUSYBOX_DEFAULT_PIE=y
CONFIG_FEED_3ginfo_lite=n
CONFIG_FEED_kenzo=n
CONFIG_FEED_lite_watchdog=n
CONFIG_FEED_modemband=n
CONFIG_FEED_modemdefine=n
CONFIG_FEED_small=n
CONFIG_FEED_small_package=n
CONFIG_FEED_sms_tool=n
CONFIG_FEED_xray=n
CONFIG_KERNEL_CC_STACKPROTECTOR_REGULAR=n
CONFIG_KERNEL_CC_STACKPROTECTOR_STRONG=y
CONFIG_KERNEL_CFQ_GROUP_IOSCHED=y
CONFIG_KERNEL_CGROUP_DEVICE=y
CONFIG_KERNEL_CGROUP_FREEZER=y
CONFIG_KERNEL_CGROUP_HUGETLB=y
CONFIG_KERNEL_CGROUP_NET_PRIO=y
CONFIG_KERNEL_CGROUP_PERF=y
CONFIG_KERNEL_DEBUG_INFO=n
CONFIG_KERNEL_DEBUG_KERNEL=n
CONFIG_KERNEL_ELF_CORE=n
CONFIG_KERNEL_KALLSYMS=n
CONFIG_KERNEL_MAGIC_SYSRQ=n
CONFIG_KERNEL_MEMCG_SWAP_ENABLED=y
CONFIG_KERNEL_NET_CLS_CGROUP=y
CONFIG_KERNEL_PRINTK_TIME=n
CONFIG_KERNEL_PROC_STRIPPED=y
CONFIG_KERNEL_SQUASHFS_FRAGMENT_CACHE_SIZE=3
CONFIG_KERNEL_STACKPROTECTOR_STRONG=y
CONFIG_PACKAGE_block-mount=y
CONFIG_PACKAGE_bridge=y
CONFIG_PACKAGE_curl=y
CONFIG_PACKAGE_htop=y
CONFIG_PACKAGE_irqbalance=y
CONFIG_PACKAGE_kmod-fs-exfat=y
CONFIG_PACKAGE_kmod-fs-ext4=y
CONFIG_PACKAGE_kmod-fs-msdos=y
CONFIG_PACKAGE_kmod-fs-ntfs=y
CONFIG_PACKAGE_kmod-fs-vfat=y
CONFIG_PACKAGE_kmod-fuse=y
CONFIG_PACKAGE_kmod-lib-lz4=y
CONFIG_PACKAGE_kmod-lib-lzo=y
CONFIG_PACKAGE_kmod-lib-zstd=y
CONFIG_PACKAGE_kmod-nf-conntrack-netlink=y
CONFIG_PACKAGE_kmod-nls-cp437=y
CONFIG_PACKAGE_kmod-nls-iso8859-1=y
CONFIG_PACKAGE_kmod-nls-utf8=y
CONFIG_PACKAGE_kmod-scsi-core=y
CONFIG_PACKAGE_kmod-scsi-generic=y
CONFIG_PACKAGE_kmod-serial-8250=y
CONFIG_PACKAGE_kmod-usb-storage=y
CONFIG_PACKAGE_kmod-usb-storage-extras=y
CONFIG_PACKAGE_kmod-usb2=y
CONFIG_PACKAGE_libcurl=y
CONFIG_LIBCURL_MBEDTLS=n
CONFIG_LIBCURL_WOLFSSL=n
CONFIG_LIBCURL_OPENSSL=y
CONFIG_LIBCURL_GNUTLS=n
CONFIG_LIBCURL_NOSSL=n
CONFIG_PACKAGE_libustream-mbedtls=n
CONFIG_PACKAGE_libustream-openssl=y
CONFIG_PACKAGE_libustream-wolfssl=n
CONFIG_PACKAGE_luci=y
CONFIG_PACKAGE_luci-app-3ginfo-lite=y
CONFIG_PACKAGE_luci-app-commands=y
CONFIG_PACKAGE_luci-app-irqbalance=y
CONFIG_PACKAGE_luci-app-lite-watchdog=y
CONFIG_PACKAGE_luci-app-modemband=y
CONFIG_PACKAGE_luci-app-modemdefine=m
CONFIG_PACKAGE_luci-app-mwan3=y
CONFIG_PACKAGE_luci-app-openvpn=y
CONFIG_PACKAGE_luci-app-ramfree=y
CONFIG_PACKAGE_luci-app-sms-tool=y
CONFIG_PACKAGE_luci-app-sqm=y
CONFIG_PACKAGE_luci-mod-dashboard=y
CONFIG_PACKAGE_luci-proto-ncm=y
CONFIG_PACKAGE_luci-ssl-openssl=y
CONFIG_PACKAGE_luci-theme-material=y
CONFIG_PACKAGE_nano=y
CONFIG_PACKAGE_openvpn-openssl=y
CONFIG_PACKAGE_picocom=y
CONFIG_PACKAGE_uboot-envtools=y
CONFIG_PACKAGE_wireless-tools=y
CONFIG_PACKAGE_wget-ssl=y
CONFIG_PACKAGE_wpad-basic-mbedtls=n
CONFIG_PACKAGE_wpad-basic-openssl=y
CONFIG_PACKAGE_wpad-basic-wolfssl=n
CONFIG_PACKAGE_wpad-mbedtls=n
CONFIG_PACKAGE_wpad-openssl=n
CONFIG_PACKAGE_wpad-wolfssl=n
CONFIG_PACKAGE_zram-swap=y
CONFIG_PKG_ASLR_PIE_ALL=y
CONFIG_PKG_ASLR_PIE_REGULAR=n
CONFIG_PKG_CC_STACKPROTECTOR_REGULAR=n
CONFIG_PKG_CC_STACKPROTECTOR_STRONG=y
CONFIG_PKG_FORTIFY_SOURCE_1=n
CONFIG_PKG_FORTIFY_SOURCE_2=y
CONFIG_STRIP_KERNEL_EXPORTS=y
CONFIG_TARGET_SQUASHFS_BLOCK_SIZE=256
CONFIG_USE_MKLIBS=y
CONFIG_VERSIONOPT=y
CONFIG_VERSION_CODE_FILENAMES=n
CONFIG_VERSION_FILENAMES=n
